<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="searchInput">Từ khóa</label>
            <input type="text" name ="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Nhập từ khóa">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        <div class="form-group">
            <label for="searchInput">Từ khóa</label>
            <select name="gender" name="q" class="form-control" id="genderInput" >
                <option value=""> --chọn giới tính--</option>
                <option value="male"> Nam </option>
                <option value="female"> Nữ </option>
            </select>
          
</div>